/* COLORS */

/* 
White: #fff;
Beige-bg: #c7c0be;
Beige Light: #e4e8e8;
Brown: #4f413b;
*/


/********************************* 
*** GLOBAL STYLES
*********************************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/********************************* 
*** MAIN STYLES
*********************************/
.wrapper__main {
    width: 100vw;
    height: 51rem;
    /* background-color: #c7c0be; */
    background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.1)), url('../assets/img/flower2-bg.jpg');
    background-size: cover;
    background-position: top center;
}

.container {
    max-width: 1200px;
    width: initial;
    padding: 3rem;
}

/********************************* 
*** HEADER STYLES
*********************************/
.header__main {
    /* background-color: #fff; */
}

.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
    box-sizing: border-box;
    border-bottom: 1px solid #efefef;
}

.header__logo {
    
}

.header__logo--link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    transition: all 100ms;
}

.header__nav--icon {
    color: #fff;
    font-size: 2rem;
}

/********************************* 
*** CONTENT STYLES
*********************************/
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content__title {
    font-size: 6rem;
    color: #fff;
    line-height: 6rem;
    font-weight: 600;
    margin: 0rem 0;
}

.content__subtitle {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0 4rem;
}

/********************************* 
*** SEARCH STYLES
*********************************/
.search__form {
    display: flex;
    justify-content: center;
}

.search__input {
    flex: 1;
    height: 6rem !important;
    border-radius: 6rem !important;
    font-size: 2rem;
    font-weight: 300;
    padding-left: 2.4rem !important;
    margin-right: 1rem;
    background-color: rgba(0,0,0,.2) !important;
    color: #fff !important;
    transition:  background-color 100ms, height 0ms;
}
.search__input::placeholder {
    color: #fff;
}
.search__input:focus {
    border: 1px solid #fff !important;
}
.search__input:hover {
    background-color: rgba(0,0,0,.3) !important;
}

.search__btn {
    font-size: 2rem !important;
    font-weight: 300 !important;
    height: 6rem !important;
    border-radius: 6rem !important;
    /* border: transparent; */
    /* position: relative; */
    /* top: 0px; */
    /* background-color: rgba(0,0,0,.2) !important; */
    background-color: #fff !important;
    padding: 0 40px !important;
    border: 1px solid #fff !important;
    color: #000 !important;
    box-shadow: 0 5px 40px rgba(0,0,0,.2);
    transition: all 100ms;
}

.search__btn:hover {
    color: #000 !important;
    background-color: #fff !important;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);

}
.search__btn:active {
    color: #fff !important;
    background-color: rgba(0,0,0,.6) !important;
    box-shadow: 0 2px 40px rgba(0,0,0,.2);
    border: 1px solid #000 !important;
}
/********************************* 
*** SEARCH OUTPUT STYLES
*********************************/
.search__output {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    grid-auto-flow: dense;
    justify-content: center;
    align-content: top;
    align-items: top;
}

.search__img {
    max-width: 100%;
    align-self: center;
    justify-self: center;
    border-radius: 2px;
}



/********************************* 
*** STICKY HEADER STYLES
*********************************/
.sticky.wrapper__main {
    width: 100vw;
    height: 13rem;
    position: fixed;
    top: 0;
    z-index: 999;
}
.sticky.wrapper__output {
    margin-top: 25rem;
}

.sticky.container__header {
    height: initial !important;
    margin-top: 0;
    padding-top: 1.8rem;
}

.sticky.content__main {
    display: none;
}

.sticky.header__wrapper {
    height: 5rem;
}

.sticky.search__input {
    height: 4rem !important;
    border-radius: 4rem !important;
    font-size: 1.6rem;
}

.sticky.search__btn {
    height: 4rem !important;
    border-radius: 4rem !important;
    font-size: 1.6rem;
}

.sticky.wrapper__main {
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    background-image: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.4)), url('../assets/img/flower2-bg.jpg');
}



/********************************* 
*** MEDIA QUERIES
*********************************/

@media only screen and (max-width: 500px) {
    .search__form {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .search__input {
        /* margin-right: initial; */
    }

    .wrapper__main {
        height: 53rem;
    }

    .search__btn {
        background-color: #fff !important;
        color: #000 !important;
    }

    .container {
        padding: 3rem 2rem;
    }




    .sticky.wrapper__main {
        width: 100vw;
        height: 8rem;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    .sticky.wrapper__output {
        margin-top: 25rem;
    }
    
    .sticky.container__header {
        height: initial !important;
        margin-top: 0;
        padding-top: 1.8rem;
    }
    
    .sticky.content__main {
        display: none;
    }
    
    .sticky.header__main {
        display: none !important;
    }
    .sticky.header__wrapper {
        height: 5rem;
    }
    
    .sticky.search__input {
        height: 4rem !important;
        border-radius: 4rem !important;
        font-size: 1.6rem;
    }
    
    .sticky.search__btn {
        height: 4rem !important;
        border-radius: 4rem !important;
        font-size: 1.6rem;
    }
    
    .sticky.wrapper__main {
        box-shadow: 0 5px 20px rgba(0,0,0,.3);
        background-image: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.4)), url('../assets/img/flower2-bg.jpg');
    }
}


